#imal{width: 50%;}
#imal{margin-left: 25%;}
#imal{border-color: black;
border-width: 8px;
border-style: double;}
.parte01{background-color: blue;}
.parte02{background-color: red;}
h4 {text-align: center;
font-size: 200%;}